* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62%;
  box-sizing: border-box;
}

body {
  font-family: "Helvetica", sans-serif;
  color: #222;
  background-color: #eee;
}

/*LAYOUT*/
header {
  position: relative;
  height: 30vh;
  border-bottom: 5px solid #eee;
}

main {
  height: 65vh;
  color: #222;
}

/* ELEMENTS STYLE */
h1 {
  font-size: 3rem;
  text-align: center;
  position: absolute;
  width: 100%;
  top: 30%;
  left: 50%;
  bottom: 5rem;
  transform: translate(-50%, -50%);
}

p {
  font-size: 1.5rem;
}

ul {
  list-style-type: none;
}

.new-category {
  background-color: rgb(21, 197, 109);
  color: #eee;
  border: none;
  font-size: 1.4rem;
  font-weight: 600;
  text-align: center;
  position: absolute;
  top: 10rem;
  left: 3rem;
  border-radius: 10rem;
  padding: 1rem 1rem;
  cursor: pointer;
}

.favorites {
  background-color: gold;
  color: white;
  border: none;
  font-size: 1.4rem;
  font-weight: 600;
  text-align: center;
  position: absolute;
  top: 10rem;
  left: 18rem;
  border-radius: 10rem;
  padding: 1rem 1rem;
  cursor: pointer;
}

.favproducts-container {
  display: flex;
  flex-flow: column wrap;
  position: absolute;
  top: 10rem;
  left: 27rem;
  width: 12rem;
  height: 10rem;
  overflow-y: auto;
  font-size: 1.4rem;
  font-weight: 600;
  padding: 1rem 1rem;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
}

.add-fav-to-category {
  background-color: rgb(21, 197, 109);
  color: #eee;
  border: none;
  font-size: 1.4rem;
  font-weight: 350;
  text-align: center;
  padding: 2%;
  margin: 1%;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
}

#label-id {
  font-size: 1.4rem;
}

.budget {
  background-color: none;
  color: #000000;
  border: none;
  font-size: 1.4rem;
  font-weight: 600;
  text-align: center;
  position: relative;
  top: 10rem;
  left: 33%;
  border-radius: 5px;
  padding: 1rem 1rem;
}

.recents {
  background-color: lightcoral;
  color: white;
  border: none;
  font-size: 1.4rem;
  font-weight: 600;
  text-align: center;
  position: absolute;
  top: 10rem;
  right: 22rem;
  border-radius: 10rem;
  padding: 1rem 1rem;
  cursor: pointer;
}

.recentproducts-container {
  display: flex;
  flex-flow: column wrap;
  position: absolute;
  top: 10rem;
  right: 36rem;
  width: 12rem;
  height: 10rem;
  overflow-y: auto;
  font-size: 1.4rem;
  font-weight: 600;
  padding: 1rem 1rem;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
}

.add-recent-to-category {
  background-color: rgb(21, 197, 109);
  color: #eee;
  border: none;
  font-size: 1.4rem;
  font-weight: 350;
  text-align: center;
  padding: 2%;
  margin: 1%;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
}

.complete {
  background-color: rgb(21, 197, 109);
  color: #eee;
  border: none;
  font-size: 1.4rem;
  font-weight: 600;
  text-align: center;
  position: absolute;
  top: 10rem;
  right: 5rem;
  border-radius: 10rem;
  padding: 1rem 1rem;
  cursor: pointer;
}

.flex-container {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
}

.category-section {
  display: inline-block;
  position: relative;
  bottom: 3rem;
  width: 40rem;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  margin: 2.5%;
}

.category-input {
  text-transform: uppercase;
  margin: 0.6rem;
  font-size: 1.6rem;
  font-weight: 600;
  color: #222;
  text-align: center;
}

.add-product {
  background-color: rgb(21, 197, 109);
  color: #eee;
  border: none;
  font-size: 1.3rem;
  font-weight: 350;
  text-align: center;
  margin-left: 1.5rem;
  padding: 0.8%;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
}

.delete-product {
  background-color: rgb(197, 36, 21);
  color: #eee;
  border: none;
  font-size: 1.3rem;
  font-weight: 350;
  text-align: center;
  margin: 0.2rem;
  padding: 0.8%;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
}

.delete-category {
  background-color: rgb(197, 36, 21);
  color: #eee;
  border: none;
  font-size: 1rem;
  font-weight: 350;
  text-align: center;
  margin: 1.5rem;
  padding: 1%;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
}

.hidden {
  display: none;
}

.checkbox {
  margin: 0.7rem;
  font-size: 1.5rem;
  font-weight: 400;
  color: #222;
  text-align: center;
  width: 3%;
}

.amount {
  margin: 0.7rem;
  font-size: 1.5rem;
  font-weight: 400;
  color: #222;
  text-align: center;
  width: 13%;
}

.price {
  margin: 0.7rem;
  font-size: 1.5rem;
  font-weight: 400;
  color: #222;
  text-align: center;
  width: 23%;
}

.product-input {
  margin: 0.7rem;
  font-size: 1.5rem;
  font-weight: 400;
  color: #222;
  text-align: center;
  width: 40%;
}

.favorite {
  background-color: white;
  text-align: center;
  cursor: pointer;
  position: relative;
  margin: 0.3rem;
  font-size: 2rem;
  font-weight: 400;
  color: gold;
}
